@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.container_geral {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.esquerda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form h1 {
  margin-bottom: 8px;
  font-size: 36px;
}

.form > p {
  margin-bottom: 40px;
  font-size: 16px;
}

.input_label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label_esqueceu_senha {
  display: flex;
  justify-content: space-between;
}

.label_esqueceu_senha p {
  font-size: 14px;
  font-weight: 600;
  color: #20b3fc;
  cursor: pointer;
}

.input_label label {
  font-size: 14px;
  font-weight: 600;
}

.input_label input {
  margin-top: 8px;
  width: 100%;
  height: 53px;
  border: 1px solid #c9ced3;
}

.btn_enviar {
  width: 100%;
  height: 53px;
  font-weight: 500;
  border: none;
  background-color: #1d2430;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cadastrar {
  margin-top: 30px;
}

.cadastrar p {
  font-size: 16px;
}

.cadastrar a {
  text-decoration: none;
  color: #20b3fc;
  font-size: 16px;
}

.direita {
  width: 50%;
  height: 100%;
  background-color: green;
}

@media (max-width: 480px) {
  .form {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form h1 {
    font-size: 25px;
  }

  .form > p {
    font-size: 16px;
  }

  .cadastrar {
    display: flex;
    justify-content: center;
  }
}
