.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    

}
.conteiner_hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    width: 100%;
    height: 269px;
}
.conteiner_hero {
    position: relative;
  }
  
  .background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/cupo.jpeg');
    background-size: cover;
    background-position: center;
  }
  
.content_search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    position: absolute;
    top: 0;

}
.search {
  background-color: #DADADA;
  width: 50%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  font-size: 16px;
  margin-left: 70px;
}
.search input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}
.search ::placeholder {
    color: red;
}
.content_profile_cart {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
}
.content_category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 8px;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_category {
  font-size: 24px; /* Tamanho do ícone */
  margin-bottom: 5px;
}

.category_name {
  font-size: 14px; /* Tamanho do nome da categoria */
  font-weight: bold;
  text-align: center;
}

.container_produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
    margin-top: 1rem;
    overflow-y: auto;

  }
  .card_produto {
    border-top: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px -5px;
    overflow: hidden;
    width: 195px;
    height: 100%;
  }

  .image_info {
    width: 100%;
    padding: 16px;
    aspect-ratio: 1 / 1;
  }

  .Container_info{
    padding: 16px;
  }
  .product_info{
    position: relative;
    display: grid;
    width: 100%;
    gap: 8px;
  }
  .product_name{
    color: rgb(51, 51, 51);
    font-size: 12px;
    text-transform: lowercase;
    font-weight: 700;
    line-height: 14px;
    height: 28px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .rating{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2px;
  }
  .sagiey{
    width: 75px;
    height: 15px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
  .add_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaço entre os elementos */
    padding: 10px; /* Espaço interno */
    background-color: #f8f8f8; /* Cor de fundo */
    border: 1px solid #ccc; /* Borda */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  .add_cart p {
    cursor: pointer;
    font-size: 18px; /* Tamanho da fonte */
    padding: 5px; /* Espaço interno */
    background-color: #007bff; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border-radius: 50%; /* Bordas arredondadas */
    width: 30px; /* Largura */
    height: 30px; /* Altura */
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none; /* Desabilita seleção de texto */
  }
  
  .add_cart span {
    font-size: 18px; /* Tamanho da fonte */
    width: 30px; /* Largura */
    text-align: center; /* Alinha texto ao centro */
  }
  .Container_info {
    display: flex;
    flex-direction: column;
   
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
   
  }
  
  .product_info {
    margin-bottom: 16px;
  }
  
  .product_name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px 0;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }
  
  .sagiey {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  
  .src__FilledStars-sc-sagiey-1 {
    display: flex;
  }
  
  .src__Count-sc-xpyr1v-1 {
    font-size: 12px;
    color: #555;
  }
  
  .price_info {
    margin-bottom: 16px;
  }
  
  .price_info span {
    font-size: 18px;
    font-weight: bold;
    color: #e60000;
  }
  .final_price_info span{
    font-size: 18px;
    font-weight: bold;
    color: #00AD9A;
  }
  .discount {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .discount svg {
    margin-right: 4px;
  }
  
  .discount span {
    color: #ffcc00;
    font-weight: bold;
  }
  
  .final_price_info {
    display: flex;
    justify-content: space-between;
    
  }
  .link_componet {
    text-decoration: none;
  }
  

  
  .delivery_info {
    margin-top: 16px;
  }
  
  .delivery_info span {
    font-size: 14px;
    color: #28a745;
  }
  .estoque{
    position: absolute;
    top: 0;
    right: 0;
  }
  .cartIcon {
    position: relative;
  }
  
  .cartItemCount {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  
  .cartItemCount::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    transform: rotate(45deg);
    top: -5px;
    right: -5px;
  }
  
  .cartItemCount::after {
    content: attr(data-count);
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
     
  }  
  
  
